@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

header {
  background-color: #282c34;
  height: 80px;
  display: flex;
  align-items: center;
  text-align: left;
}
.header-nav h1{
  color: #61dafb;
  margin-left: 20px;
  text-decoration: none;
  font-size: 30px;
}

.container{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.container ul{
  padding: 0;
}

.button-add-user, .button-add-user:focus, .button-add-user:hover{
  margin-top: 10px;
  background-color: #282c34;
  color: #61dafb;
  display: flex;
  border-radius: 5px;
}

.container-user{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 15px;
  border-radius: 5px;
  margin: 15px 0;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
  background: #ccccff;
}

.ant-avatar-icon{
  margin-right: 10px;
}

.user-information, .user-extra{
  display: flex;
  align-items: center;
}

.user-name, .description{
  display: flex;
}

.user-name h3{
  font-weight: 600;
  margin-right: 10px;
  font-size: 20px;
  margin-bottom: 0;
}